Cython
Flask
Glances
Pillow
PyPDF2
PyQt5
Pygments
Send2Trash
ansible
ansible-lint
autopep8
beautifulsoup4
black
cachetools
click
click-spinner
codespell
coverage
cryptography
cvxopt
docopt
flake8
graphviz
h5py
ipdb
jedi
jupyter
jupyterthemes
keras
librosa
line-profiler
matplotlib
memory-profiler
metakernel
mutagen
mypy
nbconvert
neovim
neovim-remote
nose
numpy
opencv-contrib-python
opencv-python
pandas
paramiko
parse
pep8
pint
playsound
plotnine
proselint
psutil
pyautogui
pycallgraph
pycrypto
pydot-ng
pydotplus
pyflakes
pylint
pyserial
pytest
pytest-cov
python-magic
python-telegram-bot
pyyaml
requests
sacred
scikit-learn
scipy
scrapy
seaborn
selenium
sympy
tabulate
togglCli
torch
torchvision
torchviz
tqdm
typer
uncertainties
virtualenv
virtualenvwrapper
watchdog
